{{- $articles := slice -}}
{{- $allCats := slice -}}
{{- range .Site.RegularPages.ByDate.Reverse -}}
  {{- $cats := slice -}}
  {{- with .Params.categories -}}
    {{- if reflect.IsSlice . -}}{{- $cats = . -}}{{- else -}}{{- $cats = (slice .) -}}{{- end -}}
  {{- end -}}
  {{- range $cats -}}{{- $allCats = $allCats | append . -}}{{- end -}}
  {{- $desc := .Params.description -}}
  {{- $sum := $desc | default ((.Plain | truncate 70)) -}}
  {{- $articles = $articles | append (dict "title" .Title "date" (.Date.Format "2006-01-02") "summary" $sum "categories" $cats "url" .RelPermalink "readingTime" .ReadingTime) -}}
{{- end -}}
{{- dict "articles" $articles "articleCategories" ($allCats | uniq) "projectCategories" (.Site.Params.projectCategories | default slice) | jsonify -}}
